<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Fit</title>
    <link rel="stylesheet" href="/DELETEpublic/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-gZJ1mTlAMf+LmNSFl8EdvTU9/ezyEclz+o/uWPhnm8zvQZJDXcMfYtkYKVcL8+L2" crossorigin="anonymous">
</head>
<body class="background">
    <main class = "carousel">
        <center>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/20211117-s05-053cvenni-1644424804.jpg?resize=980:*" style="height:800; width:00" class="d-block w-75" alt="Clean and Jerk">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Welcome to Git Fit!</h5>
                            <p>We are excited to have you and are excited for you to start your Fitness journey!</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://qph.cf2.quoracdn.net/main-qimg-97186f00f16844ebd8d0a90e9f19e3ee-lq" class="d-block w-75" alt="Kettlebell Swing">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Weightlifting</h5>
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://scontent.fdet1-1.fna.fbcdn.net/v/t31.18172-8/10872805_926702294036466_5002531310427617968_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=9267fe&_nc_ohc=2QYrqdR5rXUAX_G84p3&_nc_oc=AQmuGj-BaAeSYUO2EzIpch9oSfIJMupkCcvCo_u-9UyDsXd8R1LVW65nOw7FzrO_uuyBRxfJTWVL21twN15wI8Hn&_nc_ht=scontent.fdet1-1.fna&oh=00_AfAyyqhbqbd3Ak9VxEaRZe4dE5wwh5f1pt4BzEQyBMeJRg&oe=6438A389" style="height:800; width:300" class="d-block w-75" alt="cardio">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Cardio</h5>
                            
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </center>
    </main>
</body>
</html>
